:root { -
	-gutter: 10px; -
	-margin: 2rem; -
	-color-primary: #002851; -
	-color-text: #000f1e; -
	-color-error: #510b00; -
	-color-success: #005129; -
	-color-attention: #fcae1e; -
	-color-dim: #627793; -
	-main-width: 100%
}

@media ( min-width :560px) {
	:root { -
		-gutter: 1rem
	}
}

@media ( min-width :900px) {
	:root { -
		-gutter: 1.5rem; -
		-margin: 2.5rem
	}
}

@media ( min-width :490px) {
	:root { -
		-main-width: calc(100% - ( 120px + var(- -gutter)))
	}
}

@media ( min-width :818px) {
	:root { -
		-main-width: calc(100% - ( 300px + var(- -gutter)))
	}
}

@media ( min-width :1178px) {
	:root { -
		-main-width: calc(878px - var(- -gutter))
	}
}

html {
	scroll-behavior: smooth
}

body, html {
	min-height: 100%
}

body {
	margin: 0;
	background: linear-gradient(180deg, #fff, #f0f8ff);
	color: var(- -color-text);
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif
}

#__next {
	display: flex;
	flex-direction: column;
	height: 100%
}

h1 {
	font-size: 1.4rem;
	line-height: 1.2em;
	margin: var(- -margin) 0 1rem
}

h1:first-child {
	margin-top: 0
}

h2 {
	font-size: 1.2rem;
	line-height: 1.3em
}

h2, h3 {
	margin: var(- -margin) 0 1rem
}

h3 {
	font-size: 1.1rem;
	line-height: 1.4em
}

p {
	margin: 0 0 1rem
}

a:focus {
	outline: solid 2px var(- -color-attention);
	outline-offset: 0
}

a:not ([class] ){
	color: #06c;
	transition: color .2s ease
}

a:not ([class] ):hover {
	color: #0080ff
}

.copy>:first-child {
	margin-top: 0
}

.copy>:last-child {
	margin-bottom: 0
}

ul>li {
	margin-bottom: 1rem
}

button {
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	font-size: 1em;
	line-height: 1.2
}

button:disabled {
	-webkit-filter: grayscale(1);
	filter: grayscale(1)
}

.button {
	display: inline-flex;
	background: #06c;
	box-shadow: 2px 2px 1px #036;
	padding: .3em .6em;
	font-size: .9rem;
	line-height: 1.2;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 2px
}

.button:hover {
	background: #0080ff
}

.button:focus {
	outline: solid 2px var(- -color-attention);
	outline-offset: 0
}

.button--arrow:after {
	content: "►";
	font-size: .75em;
	padding-left: .5em
}

.button--muted {
	font-size: 12px;
	line-height: 1.1;
	text-align: center;
	background: var(- -color-dim)
}

.button--muted:focus, .button--muted:hover {
	background: #06c
}

.button-icon {
	width: 1em;
	height: 1em;
	margin-right: .4em;
	align-self: center
}

.button-icon svg {
	object-fit: contain;
	width: 100%;
	height: 100%
}

.button-icon svg [d] {
	fill: currentColor
}

input, textarea {
	font-size: 1rem;
	padding: .25em;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .05);
	border: 1px solid var(- -color-text);
	border-radius: 2px;
	color: currentColor
}

input:focus, textarea:focus {
	outline: solid 2px var(- -color-attention);
	outline-offset: 0
}